body {
    overflow: hidden;
    display: flex;
    
    height: 100vh;
    width: 100vw;
}

.calculadora {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    margin: auto;
}

.estrutura {
    display: flex;
    flex-direction: column;

    padding: 10px;
    height: 500px;
    width: 350px;

    background-color: #131111;
    box-shadow: 7px 5px 3px #1f1e1e;
}

.container__display {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 20%;
    margin-bottom: 1rem;
}

#display {
    width: 90%;
    height: 70%;

    color: #696969;
    background-color: #2a472ba8;
    border-radius: 6px;

    font-size: 3em;
    text-align: end;
}

.botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 80%;
}

.container__botoes {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.botao {
    border-radius: 6px;
    font-size: 2em;
    
    width: 20%;
    height: 80%;
    margin: 1.5%;
    
    color: #d8d2d2;
    background-color: #222020;
    text-shadow: 1px 1px 0px #ff0000c7;
    filter: drop-shadow(color=#000000, offx=0px, offy=1px);
    box-shadow: 3px 3px 0 #353434;
}

.botao:hover {
    background-color: #222020cc;
    transition: 0.2s;
}

.botao:active {
    border-right: hidden;
    border-bottom: hidden;
    
    background-color: #1a1818;
    box-shadow: inset 1px 1px 0 #0e0d0d, 3px 3px 0 #1a1818;
}

.botoes--top {
    width: 44%;
}

#limpa {
    background-color: #ff00004d;
}

#limpa:hover {
    background-color: #ff00003d;
    transition: 0.2s;
}

#igual {
    background-color: #2169b162;
}

#igual:hover {
    background-color: #2169b154;
    transition: 0.2s;
}