@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #e9616c, #4f105c);
    color: white;
    text-align: center;
    padding-top: 30px;
}

#container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#task-header {
    margin-top: 40px;
}

#add-task-form {
    position: relative;
}

#add-task-form input {
    box-sizing: border-box;
    border: 1px solid #4f105c;
    background-color: #fff;
    color: #4f105c;
    padding: 15px;
    font-size: 18px;
    width: 100%;
}

#add-task-form input::placeholder {
    color: #4f105c;
}

#add-task-form input:focus {
    outline: none;
}

#add-btn {
    position: absolute;
    background-color: white;
    border: 1px solid #4f105c;
    cursor: pointer;
    transition: .5s;
    width: 60px;
    height: 53px;
    top: 0;
    right: 0;
    padding-top: 3px;
}

#add-btn:hover {
    background-color: #4f105c;
    color: #fff;
}

ion-icon {
    font-size: 25px;
}

/*tasks container*/
#task-list {
    list-style: none;
    padding-left: 0;
}

#task-list li {
    text-align: left;
    height: 50px;
    line-height: 50px;
    position: relative;
    border-bottom: 3px solid #4f105c;
    background-color: #fff;
    color: #4f105c;
    margin-bottom: 10px;
    padding-left: 15px;
    transition: .5s;
    font-weight: bold;
}

#task-list li span {
    font-size: 18px;

}

#task-list ion-icon {
    position: absolute;
    top: 0;
    height: 40px;
    transition: .5s;
    cursor: pointer;
    width: 30px;
    padding: 5px;
}

.done-btn {
    right: 40px;
}

.done-btn:hover {
    color: white;
    background-color: #09E01B;
}

.remove-btn {
    right: 0;
}

.remove-btn:hover {
    color: #fff;
    background-color: #EB0927;
}

.hide {
    display: none;
}

#task-list li.done {
    background-color: #4f105c;
    color: #fff;
    text-decoration: line-through;
}